section {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: visible;
}

.bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.bg img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.bg img:nth-child(1) {
    bottom: 25%;
    z-index: 2;
}

.bg img:nth-child(2) {
    z-index: 1;
    top: 25%;
    object-fit: cover;
}

.wrapper {
    position: relative;
    z-index: 3;
    padding: 1.25rem;
    color: black;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 6.25rem;
}

.wrapper-head {
    width: 75rem;
    display: flex;
    flex-direction: column;
}

.wrapper-head h1 {
    font-size: 6.4425rem;
    font-style: italic;
    font-weight: 900;
    line-height: 7.7313rem;
    text-align: center;
    background: linear-gradient(90.08deg, #173D70 0.07%, #108DCD 99.94%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;

}

.wrapper-head h2 {
    font-size: 5.125rem;
    font-weight: 600;
    line-height: 6.15rem;
    text-align: center;
    background: linear-gradient(90.08deg, #173D70 0.07%, #108DCD 99.94%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.wrapper-head p {
    font-size: 2.125rem;
    font-weight: 300;
    line-height: 2.75rem;
    text-align: center;
    margin-top: 1.25rem;
}


.btn-group {
    --transition: 0.3s cubic-bezier(0.29, 0.13, 0.27, 0.74);
    text-align: center;
    margin-top: 3.125rem;
}

.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    text-decoration: none;
    color: #333;
    background-color: #fff;
    overflow: hidden;
    cursor: pointer;
    border: none;

    transition: background-color var(--transition);

    width: 8.25rem;
    height: 3.75rem;

    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.5rem;

}

.btn:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: #ffd401;
    transition: width var(--transition);
    z-index: 0;
}

.btn-txt {
    position: relative;
    z-index: 1;
}

.btn:hover:before {
    width: 100%;
}

.btn:hover {
    color: #fff;
}



.wrapper-box {
    display: flex;
    flex-direction: column;
    margin-top: 4.375rem;
    width: 105rem;

    align-items: center;
    gap: 1.25rem;
}

.box-top {
    display: flex;
    gap: 3.125rem;
}



.box-top-left {
    width: 46.225rem;
    /* height: 35rem; */
    background-image: url('../images/aksaray-box.jpg');
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;

    transition: background-size 1.0s ease-in-out;
    position: relative;

}

.box-top-left .overlay {
    width: 100%;
    height: 100%;
    background: #0000004D;
}


.box-top-left:hover {
    background-size: 120%;
    cursor: pointer;
}

.box-content {
    position: absolute;
    bottom: 0;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 2.5rem;
}

.box-content p {
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    color: #FFFFFF;
}

.box-content button {
    width: 6.75rem;
    height: 2.375rem;
    border: none;
    background-color: #FFD401;
    cursor: pointer;
}

.box-content button span {
    font-size: .9375rem;
    font-weight: 500;
    line-height: 1.5rem;
    text-align: center;
    color: #000000;
}


.item {
    position: relative;
    width: 45.625rem;
    height: 16.5625rem;
}

.item .overlay {
    width: 100%;
    height: 100%;
    background: #0000004D;
}


.item:hover {
    background-size: 120%;
    cursor: pointer;
}



.box-top-right {
    display: flex;
    flex-direction: column;
    gap: 1.875rem;

}

.box-top-right div:hover {
    background-size: 120%;
    cursor: pointer;
}

.box-top-right .item-one {
    background-image: url('../images/karaman-box.jpg');
    background-size: 100%;
    background-position: center;

    transition: background-size 1.0s ease-in-out;
}

.box-top-right .item-two {
    background-image: url('../images/seydisehir-box.jpg');
    background-size: 100%;
    background-position: center;

    transition: background-size 1.0s ease-in-out;
}




.box-bottom {
    display: flex;
    gap: 3.125rem;

}



.box-bottom-left {
    display: flex;
    flex-direction: column;
    gap: 1.875rem;
}

.box-bottom-left div:hover {
    background-size: 120%;
    cursor: pointer;
}

.box-bottom-left .item-one {
    background-image: url('../images/yunak-box.jpg');
    background-size: 100%;
    background-position: center;

    transition: background-size 1.0s ease-in-out;
    width: 46.225rem;
}

.box-bottom-left .item-two {
    background-image: url('../images/yunak2-box.jpg');
    background-size: 100%;
    background-position: center;

    transition: background-size 1.0s ease-in-out;
    width: 46.225rem;
}


.box-bottom-right {
    width: 45.625rem;
    background-image: url('../images/urfa-box.jpg');
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;

    transition: background-size 1.0s ease-in-out;
    position: relative;

}

.box-bottom-right .overlay {
    width: 100%;
    height: 100%;
    background: #0000004D;
}


.box-bottom-right:hover {
    background-size: 120%;
    cursor: pointer;
}




.slogan {
    width: 120rem;
    height: 45.875rem;
    margin-top: 9.375rem;
    position: relative;
    overflow: hidden;
}

.slogan-bg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.slogan-bg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slogan-content {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.25rem;
    width: 100%;
    height: 100%;
}

.slogan-content::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.300);
    z-index: -1;
}

.slogan-content p {
    word-wrap: break-word;
    font-size: 6.2763rem;
    font-weight: 600;
    line-height: 7.7562rem;
    text-align: left;
    color: #FFFFFF;
}

footer {
    width: 120rem;
    position: relative;
    overflow: hidden;
    display: flex;

}


footer .left {
    width: 50%;
    background-color: #F1F3F4;
    padding: 3.125rem;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

footer .left ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

footer .left ul li {
    margin: 0;
}

footer .left li a {
    font-size: 1.125rem;
    font-weight: 700;
    text-align: left;
    color: #A8A8A7;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0;
    margin: 0;
}



footer .right {
    width: 50%;
    background-color: #EBEBEB;
    padding: 1.875rem;
    display: flex;
    justify-content: center;
}

.right .right-content {
    width: 38.8125rem;
}


.right .right-head {
    display: flex;
    flex-direction: column;
}

.contact {
    float: right;
    display: flex;
    flex-direction: column;

    gap: 1.875rem;
    width: 24.875rem;
    margin-top: 3.125rem;
}

.contact .contact-adress {
    height: 3.75rem;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.875rem;
    text-align: right;
    color: #A8A8A7;

}

.contact .contact-phone {
    width: 12.6875rem;
    height: 3.75rem;
    align-self: flex-end;
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.875rem;
    text-align: right;
    color: #A8A8A7;

}

.right-head .title {
    display: flex;
    justify-content: space-between;
}

.right-head .title a {
    text-decoration: none;
}

.right-head .title span:first-child {
    font-size: 1.5rem;
    font-weight: 700;
    color: #A8A8A7;
    text-transform: uppercase;
}


.right-head .title span:last-child {
    font-size: 1.5rem;
    font-weight: 300;
    text-transform: uppercase;
}

.right-head .title .right-social img {
    margin-left: .625rem;
}


.right-head .searchbox {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;

    background: #F8F8F8;
}

.right-head .searchbox input {
    width: 90%;
    height: 3.75rem;
    border: none;
    background: #F8F8F8;
    padding: .9375rem;
}

.right-head .searchbox input:focus {
    outline: none;
}

.right-head .searchbox input::placeholder {
    font-size: 1.25rem;
    font-weight: 300;
    line-height: 1.5rem;
    color: #A8A8A7;


}

.right-head .searchbox img {
    position: absolute;
    right: 0;
    margin-right: .9375rem;
}


.corporate {

    width: 100%;
    padding: 1.25rem 0rem;
    border-top: .0625rem solid rgba(168, 168, 167, 0.3);
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #EBEBEB;
}

.corporate p {
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.5rem;
    color: #A8A8A7;
}

.corporate ul {
    display: flex;
    align-items: center;
    gap: .625rem;
}

.corporate ul li {
    list-style: none;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.5rem;
    text-align: right;
    color: #A8A8A7;
}

.corporate ul li a {
    text-decoration: none;

    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.5rem;
    text-align: right;
    color: #A8A8A7;

}



@media (max-width: 767px) {
    .bg img {
        display: none;
    }

    .wrapper {
        padding: 0.75rem;
        margin-top: 1.5rem;
    }


    .wrapper-head h1 {
        font-size: 3.4425rem;
        line-height: 4.7313rem;
    }

    .wrapper-head h2 {
        font-size: 3.125rem;
        line-height: 3.15rem;
    }

    .wrapper-head p {
        font-size: 1.125rem;
        line-height: 1.75rem;
        margin-top: 1.125rem;
    }
    
    .btn {
        width: 6.25rem;
        height: 2rem;
        font-size: 1rem;
        line-height: 1rem;
    }


    .box-top {
        display: flex;
        flex-direction: column;
        gap: 1.125rem;
        margin-top: 150px;
    }

    .box-top-left {
        width:500px;
        height: 17rem;
        background-size: cover;
    }

    .box-bottom {
        display: flex;
        flex-direction: column;

    }

    .box-bottom-right {
        width:500px;
        height: 17rem;
        background-size: cover;
    }

    .box-content {
        padding: 1rem;
    }

    .box-content p {
        font-size: 1rem;
    }

    .box-content button {
        width: 5.75rem;
        height: 2.375rem;
    }

    .box-content button span {
        font-size: .75rem;
        line-height: 1rem;
    }

    .slogan {
        width: auto;
        height: auto;
        margin-top: 5.375rem;
        position: relative;
        overflow: hidden;
    }

    .slogan-content {
        flex-direction: column;
    }

    .slogan-content p {
        font-size: 2.2763rem;
    }

    .slogan-content img {
        width: 50%;
    }

    footer {
        width: 120rem;
        display: flex;
        flex-direction: column;
    }

    footer .left {
        width: 100%;
        padding: 2.125rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }


    footer .right {
        width: 100%;
        padding: 1rem;
    
    }

    .right-head .title span:first-child {
        font-size: 1rem;
    }

    .right-head .title span:last-child {
        font-size: 1rem;
    }

    .right-head .title .right-social img {
        margin-left: 7px;
    }

    .right-head .searchbox input {
        width: 70%;
        height: 2.75rem;
        padding: .75rem;
    }

    .right-head .searchbox input::placeholder {
        font-size: 1rem;
        line-height: 1rem;
    }

    .contact .contact-adress {
        height: 3rem;
        font-size: 1rem;
        line-height: 1rem;
    }

    .contact .contact-phone {
        font-size: 1rem;
        line-height: 1rem;
    }


    .corporate {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .corporate p {
        font-size: .875rem;
        line-height: 1rem;
    }

    .corporate ul {
        gap: 5px;
    }

    .corporate ul li {
        font-size: 14px;
        line-height: 1rem;
    }


    .corporate ul li a {
    
        font-size: 12px;
        line-height: 1rem;
    }
}


@media (min-width: 768px) and (max-width: 1339px) {
    .bg img {
        display: none;
    }

    .wrapper {
        padding: 0.75rem;
        margin-top: 1.5rem;
    }


    .wrapper-head h1 {
        font-size: 3.4425rem;
        line-height: 4.7313rem;
    }

    .wrapper-head h2 {
        font-size: 3.125rem;
        line-height: 3.15rem;
    }

    .wrapper-head p {
        font-size: 1.125rem;
        line-height: 1.75rem;
        margin-top: 1.125rem;
    }
    
    .btn {
        width: 6.25rem;
        height: 2rem;
        font-size: 1rem;
        line-height: 1rem;
    }


    .box-top {
        display: flex;
        flex-direction: column;
        gap: 1.125rem;
        margin-top: 150px;
    }

    .box-top-left {
        width:auto;
        height: 17rem;
        background-size: cover;
    }

    .box-bottom {
        display: flex;
        flex-direction: column;

    }

    .box-bottom-right {
        width:auto;
        height: 17rem;
        background-size: cover;
    }

    .slogan {
        width: auto;
        height: auto;
        margin-top: 5.375rem;
        position: relative;
        overflow: hidden;
    }

    .slogan-content {
        flex-direction: column;
    }

    .slogan-content p {
        font-size: 3.2763rem;
    }

    .slogan-content img {
        width: 40%;
    }


    footer {
        width: 120rem;
        display: flex;
        flex-direction: column;
    }

    footer .left {
        width: 100%;
        padding: 2.125rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }


    footer .right {
        width: 100%;
        padding: 1rem;
    
    }

    .right-head .title span:first-child {
        font-size: 1rem;
    }

    .right-head .title span:last-child {
        font-size: 1rem;
    }

    .right-head .title .right-social img {
        margin-left: 7px;
    }

    .right-head .searchbox input {
        width: 70%;
        height: 2.75rem;
        padding: .75rem;
    }

    .right-head .searchbox input::placeholder {
        font-size: 1rem;
        line-height: 1rem;
    }

    .contact .contact-adress {
        height: 3rem;
        font-size: 1rem;
        line-height: 1rem;
    }

    .contact .contact-phone {
        font-size: 1rem;
        line-height: 1rem;
    }

    .corporate {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .corporate p {
        font-size: .875rem;
        line-height: 1rem;
    }

    .corporate ul {
        gap: 5px;
    }

    .corporate ul li {
        font-size: 16px;
        line-height: 1rem;
    }


    .corporate ul li a {
    
        font-size: 16px;
        line-height: 1rem;
    }

}


@media (min-width: 1440px) {
    .wrapper-box {
        width: 100%;
    }

    .box-top {
        width: 100%;
    }

    .box-top-left {
        width: 50%;
    }


    .box-top-right {
        width: 50%;
    }

    .box-top-right .item-one {
        width: 100%;
    }

    .box-top-right .item-two {
        width: 100%;
    }

    .box-bottom {
        width: 100%;
    }

    .box-bottom-left {
        width: 50%;
    }

    .box-bottom-left .item-one {
        
        width: 100%;
    }

    .box-bottom-left .item-two {
        
        width: 100%;
    }

    .box-bottom-right {
        width: 50%;
    }
}